{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">About Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aspernatur quae sunt dolorem itaque, qui, ipsa eius ex cumque velit temporibus fuga quibusdam tempore dignissimos? Nulla qui voluptatem facilis natus similique, ratione placeat aliquid animi numquam molestias nesciunt nihil? Vel ipsa reprehenderit rerum ratione quisquam consectetur perspiciatis temporibus eos laudantium id, nihil quaerat repudiandae. Corrupti nobis obcaecati quasi hic praesentium perspiciatis ipsam atque temporibus. Eos modi tempora maiores! Quod molestias aut laudantium laboriosam quam ipsam vel consequuntur voluptatem tenetur exercitationem.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore esse tempora deleniti ipsam aspernatur inventore amet ut excepturi, doloremque similique, dolorem saepe voluptas quis suscipit, molestias dolor dolorum. Corporis debitis natus quo repellat quas magnam esse repellendus a sequi, obcaecati similique libero veritatis, nobis veniam eum aut vero consequatur aperiam recusandae optio aliquid deleniti? Cum vel quisquam, quam fugiat dolorem rerum, voluptates autem architecto nostrum, deserunt a aperiam vero enim temporibus quo recusandae cumque iure nesciunt! Tempora eaque quos unde, quam porro inventore exercitationem suscipit minus, placeat atque ipsa ad totam tempore distinctio ab ut repellat, nobis odit nesciunt deleniti?</p>
    </div>
{% endblock content %}